<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Url shortener</h1>
    <h3>How to create short url:</h3>
    <ul>
      <li>https://hristijanurl-shortener.herokuapp.com/new/http://stackoverflow.com/questions/37234240/nodejs-crash-mongoose-findbyid-does-not-throw-error-when-document-is-not-foun</li>
      <li>https://hristijanurl-shortener.herokuapp.com/new/https://www.google.com/</li>
    </ul>
    <h3>Creation output:</h3>
    <p>{<br>"original_url":"https://www.google.com/",<br>"short_url":"https://hristijanurl-shortener.herokuapp.com/SkHfU1CMe"<br>}</p>
    <h3>Usage:</h3>
    <p>https://hristijanurl-shortener.herokuapp.com/SkHfU1CMe</p>
    <h3>Will redirect to:</h3>
    <p>https://www.google.com/</p>
  </body>
</html>